*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    max-width: 2350px;
    margin: 0 auto;
}

.presentation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    background-color: #27374D;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 200px;
    border-radius: 50%;

}

.image .profile{
    border: 4px solid white;
}

.project .image img{
    border-radius: 0%;
    width: 400px;
}
.title{
    color: white;
    text-align: center;
    font-size: 3em;
    width: 100%;
}

.function{
    margin-top: -30px;
    color: white;
}

.projects{
    margin-top: 5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.titleOfProjects{
    color: black;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
}

.listOfProjects{
    margin: 1em 0 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    margin: 0 auto;
    min-width: 450px;
}

.project{
    width: 450px;
    margin: 0.5em;
    border-radius: 10px;
    padding: 0.5em;
    transition: 0.5s;
    box-shadow: -2px 1px 7px -3px rgba(0,0,0,1);
-webkit-box-shadow: -2px 1px 7px -3px rgba(0,0,0,1);
-moz-box-shadow: -2px 1px 7px -3px rgba(0,0,0,1);
}

.project .text{
    text-align: center;
}

.project:hover{
    box-shadow: -2px 1px 19px -3px rgba(0,0,0,1);
-webkit-box-shadow: -2px 1px 19px -3px rgba(0,0,0,1);
-moz-box-shadow: -2px 1px 19px -3px rgba(0,0,0,1);
}

.project .text a{
    font-weight: bold;
    display: inline-block;
    color: black;
    margin-top: 10px;
    text-decoration: none;
    padding: 0.2em 1em;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.project .text a:hover{
    display: inline-block;
    color: white;
    background-color: black;
    margin-top: 10px;
    text-decoration: none;
    padding: 0.2em 1em;
    border-radius: 5px;
    border: 1px solid white;
}

footer{
    line-height: 3.5em;
    background-color: rgb(17,46,66)
}

.footer_h2{
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
    bottom: -1.8em;
}

footer i{
    display: inline-block;
    color: white;
}

@media only screen and (max-width: 1397px) {
    .listOfProjects{
        margin: 1em 0 0 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin: 0 auto;
        min-width: 450px;
    }
  }

  footer a{
    margin: 0.2em 0 0 0.8em;
}